$myColor: black;

/* style header */
#header {
    box-sizing: border-box;
    background: white;
    display: table;
    width: 100%;
    height: 25%;
    position: relative;
    padding-top: 0.7%;
}

/* style logo in header */
.logo {
    text-align: center;
    width: 74%;
}

/* make sure menu is in middle */
.logo,
.menu {
  vertical-align: middle;
  display: table-cell;
}

/* Style header links */
.menu a {
    padding: 5%;
    text-decoration: none;
    color: $myColor;
    text-align: center;
    font-size: 150%;
    vertical-align: middle;
    display: inline-block;
}

/* Style links on mouse-over */
.menu a:hover, .menu a.active {
    text-shadow: 1px 1px #808080;
}

.menu {
    ul {
        text-align: right;
    }

    li {
        display: inline-block;
        vertical-align: top;
    }
}

.menu ul li {
  display: inline-block;
  vertical-align: top;
}

/* half background image*/
body, html {
    height: 100%;
    margin: 0 0 0 0;
    background-repeat: repeat-y;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
}

/* leaf image */
#image {
    /* The image used */
    background-image: url("bladeren.jpg");  

    /* Full height */
    height: 20%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* text on leaf image */
.h1text {
    font-size: 200%;
    text-align: center;
    color: $myColor;
    padding: 1%;
    margin: 1% 5% 1% 5%;
}

/* contents of webpage */
.content {
    margin: 1% 5% 1% 5%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2% 5% 2% 5%;
    font-size: 20px;
}

#goals, #valuechain, #crsuc, #PEF, #fash {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* table on research proposal.html*/
table, th, td {
    border: 1px solid $txtcolor;
    border-collapse: collapse;
}

th, td {
    padding: 0.5%;
    text-align: left;
}

th {
    background-color: #6ba7a3;
}

/* Add media queries for small screens  */
@media screen and (max-width: 1100px) {

    .menu a {
        font-size: 120%;
    }

    .logo {
        width: 90%;
    }

    .main {
        margin-left: 150px;
        padding: 0px;
    }
}

@media screen and (max-width: 927px) {
    .menu a {
        font-size: 80%;
        padding: 1%;
    }

    #header {
        height: 15%;
    }

    .h1text {
        font-size: 100%;
    }
}

/* if about me part */
#aboutme {
    padding: 5%;

}


#photoofme {
    width: 15%;
    float: left;
    display: block;
    margin-bottom: 5%;
    margin-right: 5%;
}
