$myColor: black;

%photomakeup {
    text-align: center;
}

/* style header */
#header {
    box-sizing: border-box;
    background: white;
    display: table;
    width: 100%;
    height: 25%;
    position: relative;
    padding-top: 0.7%;
}

/* style logo in header */
.logo {
    text-align: center;
    width: 50%;
    height: auto;
    padding-right: 5%;
}

/* make sure menu is in middle */
.logo,
.menu {
  vertical-align: middle;
  display: table-cell;
}

/* Style header links */
.menu a {
    padding: 5%;
    text-decoration: none;
    color: $myColor;
    text-align: center;
    font-size: 150%;
    vertical-align: middle;
    display: inline-block;
}

/* Style links on mouse-over */
.menu a:hover, .menu a.active {
    text-shadow: 1px 1px #808080;
}

.menu {
    ul {
        text-align: right;
    }

    li {
        display: inline-block;
        vertical-align: top;
    }
}

.menu ul li {
  display: inline-block;
  vertical-align: top;
}

/* half background image*/
body, html {
    height: 100%;
    margin: 0 0 0 0;
    background-repeat: repeat-y;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
}

/* leaf image */
.bladeren {
    /* Full height */
    width: 100%;
    opacity: 0.8;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.textwima {
    position: relative;
    text-align: center;
}

/* text on leaf image */
.h1text {
    position: absolute; 
    text-align: center;
    width: 100%;
    height: 0%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: $myColor;
    font-size: 3vw;
    padding-bottom: 5%;
}

/* contents of webpage */
.content {
    margin: 1% 5% 1% 5%;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 2% 5% 2% 5%;
}

/* center all images*/
%photomakeup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#goals {
    @extend %photomakeup;
}

#valuechain {
    @extend %photomakeup;
}

#crsuc {
    @extend %photomakeup;
}

#PEF {
    @extend %photomakeup;
}

#fash {
    @extend %photomakeup;
}

/* table on research proposal.html*/
table, th, td {
    border: 1px solid $myColor;
    border-collapse: collapse;
}

th, td {
    padding: 0.5%;
    text-align: left;
}

th {
    background-color: #6ba7a3;
}

.h3text {
    font-size: 2vw;
}

button, p, ul, li {
    font-size: 1.4vw;
}

/* Style all font awesome icons */
.ola {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .ola:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

/* Add media queries for small screens  */
@media screen and (max-width: 1100px) {
    .main {
        margin-left: 150px;
        padding: 0px;
    }

    button, p, ul, li {
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 927px) {
    .menu a {
        padding: 1%;
    }

    .h3text {
        font-size: 3.5vw;
    }
    
    button, p, ul, li {
        font-size: 3vw;
    }
}

/* if about me part on index.html */
#aboutme {
    padding: 1%;

}

#photoofme {
    width: 15%;
    float: left;
    display: block;
    margin-bottom: 5%;
    margin-right: 5%;
}

/* container SWOT analysis on plasticuse.html; business plan */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 5%;
    margin-left: 5%;
}

.container > div {
    background-color: #b1c28f;
    padding: 20px;
    margin: 10px;
    width: 450px;
}